/* The main table will have a widht of 50% */
.categories_data{
    width: 80%;
    margin: 100px auto 20px auto;
}

/* Style for the main table */
.catalog_info {
    margin: 0 auto;
    width: fit-content;
    min-height: 150px;
    border: 5px double royalblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    background: azure;   
}

/* Make it 100% because otherwise it automatically creates left/right margins
    and would not match the width of the form containing the buttons */
table {
    width: 100%;
}

/* One of the headers of the table which could fit the full width or just one
    column, depending of the view */
#cat_title {
    width: 30%;
}

/* Second header of the table used in the main view */
#latest_items_title {
    width: 70%;
}

/* Styles for the table headers */
#cat_title, #latest_items_title {
    font-weight: lighter;
    font-size: 24px;
    padding: 10px;
    border-bottom: 2px solid rgba(25, 25, 25, 0.3);
    border-left: 2px solid rgba(25, 25, 25, 0.3);
    background: royalblue;
    color: azure;
}

/* Style for the "a" items listed in each cell of the table */
.category_item a, .catalog_item a {
    display: block;
    text-decoration: none;
    padding: 12px 16px;
}

.category_item a{
    color: royalblue;
    font-size: 20px;
}

.catalog_item a{
    color: maroon;
    font-size: 18px;
    border-left: 1px solid rgba(25, 25, 25, 0.3)
}

.category_item a:hover{
    background-color: royalblue;
    color: azure;
    border-radius: 5px;
}

#category_added{
    color: royalblue;
}

.catalog_item a:hover {
    background-color:aqua;
    color: azure;
    border-radius: 5px;
}

/* This style is for the category name so there is no change in style when 
    mouse is over the label */
#categogy_item_no_hover {
    color: royalblue;
    font-size: 20px;
    padding: 12px 16px;
}

/* Here starts the style for the views which contain buttons below the 
    main table */

/* Width to match the table listing the categories/catalog items */
 .all_buttons {
    width: 100%;
} 

/* The buttons will be centered */
.category_buttons {
    margin: 0 auto;
    border: 3px double royalblue;
    text-align: center;
    background: rgba(50, 50, 200, 0.5);
}

/* To eliminate the underline decoration */
.category_buttons a{
    text-decoration: none;
}

/* This is used for the labels of each database field */
.item_label {
    text-align: right;
    width: 30%;
}

/* This will be on the right of each database field */
textarea, .text_item, .dropdown select{
    width: 70%;
    overflow: scroll;
}

/* Style the components where user will click or input data */
textarea, .text_item, .dropdown select, input, button {
    margin: 10px 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/* The delete button will be red */
.delete_data {
    background: red;
    color: white;
}
