<!-- 
This code will render a table to display a catalog item with 1 header and 2 colums:
	+------------------+-------------------------------+
    | Catalog Item Details                             |
	+------------------+-------------------------------+
	|           Name   |  ______________________       |
	|    Description   |  ______________________       |
	|       Category   |  ___________                  |
	|                  |  ___________                  |
	|                  |  ___________                  |
	+------------------+-------------------------------+
 -->
 {% block content %}
 {% include "header.html" %}
 <div class = 'flash'>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul>
		{% for message in messages %}
			<li> <strong> {{ message }} </strong> </li>
		{% endfor %}
		</ul>
		{% endif %}
	{% endwith %}
</div>
<div class="categories_data">
	<div class = "catalog_info">
		<table>
			<thead>
				<th id="cat_title" colspan=2>Catalog Item Details</th>
			</head>
			<tbody>
				<tr>
					<td class="item_label">Name:</td>
					<td><input class="text_item" type ="text" maxlength="80" name="title" value="{{item.title }}" disabled></td>
				</tr>
				<tr>
					<td class="item_label">Description:</td>
					<td><textarea name="description" rows="4" disabled>{{ item.description }}</textarea></td>
				</tr>
				<tr>
					<td class="item_label">Category:</td>
					<td>
					<div class="dropdown">
						<select name="category" size="4" disabled>
						{% for category in categories %}
							<option value = "{{category.name}}"
							{% if category.id == item.category_id %} 
								selected 
							{% endif %}>
						{{category.name}}</option>
						{% endfor %}
						</select>
					</div>
					</td>
				</tr>
				<tr>
					<td class="item_label">Images:</td>
					<td class = "image_cell">
					{% if not imgs %}
						<figure>
							<img class="small_image" src="/static/default_img.png">
						</figure>
					{% else %}
						<figure>
							<a href="{{url_for('catalogItemImage', category_name=category_name, item_title=item.title)}}">
								<img class="small_image" src="/static/{{imgs[0].uuid_prefix}}{{imgs[0].name}}"></a>
						</figure>
					{% endif %}
					{% if imgs|length >1 %}
						<a class="number_images" >{{imgs|length-1}}+</a>
					{% endif %}
					</td>
				</tr>
				<tr>
					<td colspan=2>
						{%if 'username' in session%}
							<div class="all_buttons">
								<div class="category_buttons">
									<a href="{{url_for('editCatalogItem', category_name = category_name, item_title = item.title)}}">
										<button >Edit</button>
									</a>
									<a href="{{url_for('deleteCatalogItem', category_name = category_name, item_title = item.title)}}">
										<button >Delete</button>
									</a>	
									<a href="{{url_for('newCatalogItem')}}">
										<button >New</button>
									</a>
									<a href="{{url_for('showCategories')}}">
										<button>Cancel</button>
									</a>
								</div>
							</div>
						{% endif %}
						{%if 'username' not in session%}
							<div class="all_buttons">
								<div class="category_buttons">
									<a href="{{url_for('showCategories')}}">
										<button>Cancel</button>
									</a>
								</div>
							</div>
						{% endif %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}