<!-- 
This code will render a table to display categories in one column
and latest catalog items in another
    +----------------+---------------------------------+
    | Category       |  Latest Items                   |
	+----------------+---------------------------------+
	| Category1      |  item1 [Category x]             |
	| Category2      |  item2 [Category y]             |
	|   |            |   |                             |
	| Category n     |  item n [Category z]            |
	|                |                                 |
	+----------------+---------------------------------+
 -->
{% block content %}
{% include "header.html" %}
<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul>
		{% for message in messages %}
			<li> <strong> {{ message }} </strong> </li>
		{% endfor %}
		</ul>
		{% endif %}
	{% endwith %}
</div>
<div class="categories_data">
	<table class="catalog_info">
		<thead>
			<th id="cat_title">Categories</th>
			<th id="latest_items_title">Latest Items</th>
		</thead>
		<tbody>
			<tr class="info">
				<td class="category_item">
				{% for category in categories %}
					<a href = "{{url_for('showCatalogItem', 
					category_name=category.name)}}">{{category.name}}</a>
				{% endfor %}
				</td>
				<td class="catalog_item">
				{% for item in items %}
					<a href = "{{url_for('showCatalogItemDetails', 
						category_name=categories_with_items[loop.index0], item_title = item.title)}}">{{item.title}} 
						<span id="category_added"> 
							[{{categories_with_items[loop.index0]}}]</span>
					</a>
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td colspan="2">
					{%if 'username' in session%}
						<div class="all_buttons">
							<div class="category_buttons">
								<div>
									<a href="{{url_for('newCategory')}}">
										<button >New Category</button>
									</a>
								</div>
							</div>
						</div>
					{% endif %}
				</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}
