<!-- 
This code will render a table to display a catalog item with 1 header and 2 colums:
	+------------------+-------------------------------+
    | Catalog Item Details                             |
	+------------------+-------------------------------+
	|           Name   |  ______________________       |
	|    Description   |  ______________________       |
	|       Category   |  ___________                  |
	|                  |  ___________                  |
	|                  |  ___________                  |
	+------------------+-------------------------------+
 -->
 {% block content %}
 {% include "header.html" %}
<div class="categories_data">
	<div class = "catalog_info">
		<table>
			<thead>
				<th id="cat_title" colspan="2">Catalog Item Details</th>
			</head>
			<tbody>
				<tr>
					<td class="item_label">Name:</td>
					<td><input class="text_item" type ="text" maxlength="80" name="title" value="{{item.title }}" disabled></td>
				</tr>
				<tr>
					<td class="item_label">Description:</td>
					<td><textarea name="description" rows="6" disabled>{{ item.description }}</textarea></td>
				</tr>
				<tr>
					<td class="item_label">Category:</td>
					<td>
					<div class="dropdown">
						<select name="category" size="4" disabled>
						{% for category in categories %}
							<option value = "{{category.name}}"
							{% if category.id == item.category_id %} 
								selected 
							{% endif %}>
						{{category.name}}</option>
						{% endfor %}
						</select>
					</div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div class="all_buttons">
							<div class="category_buttons">
								{%if 'username' in session %}
								<a href="{{url_for('editCatalogItem', category_name = category_name, item_title = item.title)}}">
									<button >Edit</button>
								</a>
								<a href="{{url_for('deleteCatalogItem', category_name = category_name, item_title = item.title)}}">
									<button >Delete</button>
								</a>	
								<a href="{{url_for('newCatalogItem')}}">
									<button >New</button>
								</a>
								{% endif %}
								<a href="{{url_for('showCategories')}}">
									<button>Cancel</button>
								</a>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}