<!-- 
This code will render a table to display the category to be deleted:
    +--------------------------------------------------+
	| Are you sure you want to delete this category    |
	| and all its catalog items?                       |
	+----------------+---------------------------------+
	|                |  +--------------------------+   |
	|      Name      |  | Category Name            |   |
	|                |  |                          |   |
	|                |  +--------------------------+   |
	+----------------+---------------------------------+
 -->
{% block content %}
{% include "header.html" %}
<form action="{{ url_for('deleteCategory',category_name = category.name)}}" method = "post">
	<div class="categories_data">
		<div class = "catalog_info">
			<table>
				<thead>
					<th id="cat_title" colspan="2">
						Are you sure you want to delete this category 
						and all its catalog items?</th>
				</thead>
				<tbody>
					<tr>
						<td class="item_label">Name:</td>
						<td><textarea name="name" rows="4" placeholder="Category Name" disabled>{{category.name}}</textarea></td>
					</tr>
					<tr class="button_row">
						<td colspan="2">
							<div class="all_buttons">
								<div class="category_buttons">
									<input class="delete_data" type="submit" value = 'Delete'>
										<a href = "{{url_for('showCategories')}}">
											<span><input type="button" value="Cancel"></span>
										</a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</form>
{% endblock %}

