<!-- 
This code will render a table to delete a catalog item with 1 header and 2 colums:
	+------------------+-------------------------------+
    | Are you sure you want to delete this item?       |
	+------------------+-------------------------------+
	|           Name   |  ______________________       |
	|    Description   |  ______________________       |
	|       Category   |  ___________                  |
	|                  |  ___________                  |
	|                  |  ___________                  |
	+------------------+-------------------------------+
 -->
{% block content %}
{% include "header.html" %}
<form action="{{ url_for('deleteCatalogItem', category_name = category_name, item_title = item.title)}}" method = "post">
	<div class="categories_data">
		<div class = "catalog_info">
			<table>
				<thead>
					<th id="cat_title" colspan="2">Are you sure you want to delete this item?</th>
				</thead>
				<tbody>
					<tr>
						<td class="item_label">Name:</td>
						<td><input type ="text" maxlength="80" name="title" value="{{item.title }}" disabled></td>
					</tr>
					<tr>
						<td class="item_label">Description:</td>
						<td><textarea name="description" rows="4" disabled>{{ item.description }}</textarea></td>
					</tr>
					<tr>
						<td class="item_label">Category:</td>
						<td>
						<div class="dropdown">
							<select name="category" size="4" disabled>
							{% for category in categories %}
								<option value = "{{category.name}}"
									{% if category.id == item.category_id %} 
										selected 
									{% endif %}>
									{{category.name}}</option>
							{% endfor %}
							</select>
						</div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<div class="all_buttons">
								<div class="category_buttons">
									<input class="delete_data" type="submit" value = 'Delete'>
										<a href = "{{url_for('showCategories')}}">
											<span><input type="button" value="Cancel"></span>
										</a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</form>
{% endblock %}

	