{% block content %}
{% include "header.html" %}
<div class = 'flash'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
</div>
    <form action="{{ url_for('editCatalogItemImage', category_name=category_name, item_title=item_title,  img_name=img_name)}}" method=post enctype=multipart/form-data>
        <div class="upload_image">
            <div class = "new_image_info">
                <table class="table_new_image">
                    <thead>
                        <th id="cat_title" colspan="2">Edit an image for Catalog Item {{item_title}}?</th>
                    </thead>
                    <tbody>
                        <tr class="button_row">
                            <td colspan="2">
                                <input class="file_name" type=file name=file value={{img_name}}>
                            </td>
                        </tr>
                        <tr class="button_row">
                            <td>
                                <input type=submit value=Update>
                            </td>
                            <td>
                                {%if 'username' in session%}
                                    <a href = "{{url_for('editCatalogItem', category_name=category_name, item_title=item_title)}}">
                                        <span><input type="button" value="Cancel"></span>
                                    </a>
                                {% else %}
                                    <a href = "{{url_for('showCatalogItemDetails', category_name=category_name, item_title=item_title)}}">
                                        <span><input type="button" value="Cancel"></span>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
{% endblock %}