<!-- 
This code will render a table to edit a catalog item with 1 header and 2 colums:
	+------------------+-------------------------------+
    | Edit Catalog Item                                |
	+------------------+-------------------------------+
	|           Name   |  ______________________       |
	|    Description   |  ______________________       |
	|       Category   |  ___________                  |
	|                  |  ___________                  |
	|                  |  ___________                  |
	+------------------+-------------------------------+
 -->
{% block content %}
{% include "header.html" %}
<form action="{{ url_for('editCatalogItem', category_name = category_name, item_title = item.title)}}" method = "post">
	<div class="categories_data">
		<div class = "catalog_info">
			<table>
				<thead>
					<th id="cat_title" colspan=2>Edit Catalog Item</th>
				</thead>
				<tbody>
					<tr>
						<td class="item_label">Name:</td>
						<td><input class="text_item" type ="text" maxlength="80" name="title" value="{{item.title }}" required></td>
					</tr>
					<tr>
						<td class="item_label">Description:</td>
						<td><textarea name="description" rows="4">{{ item.description }}</textarea></td>
					</tr>
					<tr>
						<td class="item_label">Category:</td>
						<td>
							<div class="dropdown">
								<select name="category" size="4" required>
								{% for category in categories %}
									<option value = "{{category.name}}"
									{% if category.id == item.category_id %} 
										selected 
									{% endif %}>
									{{category.name}}</option>
								{% endfor %}
								</select>
							</div>
						</td>
					</tr>
					<tr>
						<td class="item_label">Images:</td>
						<td class = "image_cell">
							{% if not imgs %}
								{% if 'username' in session %}
									<figure>
										<a href="{{url_for('newCatalogItemImage', category_name=category_name, item_title=item.title)}}">
											<img class="small_image" src="/static/default_img.png"></a>
									</figure>
								{% else %}
									<figure>
										<img class="small_image" src="/static/default_img.png">
									</figure>
								{% endif %}	
							{% else %}
								{% if 'username' in session %}
									<figure>
										<a href="{{url_for('catalogItemImage', category_name=category_name, item_title=item.title)}}">
										<img class="small_image" src="/static/{{imgs[0].uuid_prefix}}{{imgs[0].name}}"></a>
									</figure>
									{% if (imgs|length) >1 %}
										<a class="number_images">
											{{(imgs|length)-1}}+
										</a>
									{% endif %}
								{% else %}
									<figure>
										<img class="small_image" src="/static/{{imgs[0].uuid_prefix}}{{imgs[0].name}}">
									</figure>
								{% endif %}
							{% endif %}
						</td>
					</tr>
					<tr>
						<td colspan=2>
							<div class="all_buttons">
								<div class="category_buttons">
									<input type="submit" value = 'Save'>
										<a href = "{{url_for('showCategories')}}">
											<span><input type="button" value="Cancel"></span>
										</a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</form>
{% endblock %}

