<!-- 
This code will render a table to display the category to be edited:
    +--------------------------------------------------+
	| Edit Category                                    |
	+----------------+---------------------------------+
	|                |  +--------------------------+   |
	|      Name      |  |  Category Name           |   |
	|                |  |                          |   |
	|                |  +--------------------------+   |
	+----------------+---------------------------------+
 -->
{% block content %}
{% include "header.html" %}
<form action="{{ url_for('editCategory',category_name = category.name)}}" method = "post">
	<div class="categories_data">
		<div class = "catalog_info">
			<table>
				<thead>
					<th id="cat_title" colspan="2">Edit Category</th>
				</thead>
				<tbody>
					<tr>
						<td class="item_label">Name:</td>
						<td><textarea name="name" rows="4" placeholder="Category Name" required>{{category.name}}</textarea></td>
					</tr>
					<tr class="button_row">
						<td colspan="2">
							<div class="all_buttons">
								<div class="category_buttons">
									<input type="submit" value = 'Save'>
										<a href = "{{url_for('showCategories')}}">
											<span><input type="button" value="Cancel"></span>
										</a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</form>
{% endblock %}