<!-- 
This code will render a table to display the category to be added:
    +--------------------------------------------------+
	| New Category                                     |
	+----------------+---------------------------------+
	|                |  +--------------------------+   |
	|      Name      |  |  Category Name           |   |
	|                |  |                          |   |
	|                |  +--------------------------+   |
	+----------------------------+---------------------+
 -->
{% block content %}
{% include "header.html" %}
<form action="{{ url_for('newCategory')}}" method = "post">
	<div class="categories_data">
		<div class = "catalog_info">
			<table>
				<thead>
					<th id="cat_title" colspan="2">New Category</th>
				</thead>
				<tbody>
					<tr>
						<td class="item_label">Name:</td>
						<td><textarea name="name" rows="4" placeholder="Category Name" required></textarea>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="all_buttons">
		<div class="category_buttons">
			<input type="submit" value = 'Save'>
				<a href = "{{url_for('showCategories')}}">
				<span>
			<input type="button" value="Cancel"></span></a>
		</div>
	</div>
</form>
{% endblock %}