<!-- 
This code will render a table to create a new catalog item with 1 header and 2 colums:
    +--------------------------------------------------+
    | New Catalog Item                                 |
	+------------------+-------------------------------+
	|           Name   |  ______________________       |
	|    Description   |  ______________________       |
	|       Category   |  ___________                  |
	|                  |  ___________                  |
	|                  |  ___________                  |
	+------------------+-------------------------------+
 -->
{% block content %}
{% include "header.html" %}
<form action="{{ url_for('newCatalogItem')}}" method = "post">
    <div class="categories_data">
        <div class = "catalog_info">
            <table>
                <thead>
                  <th id="cat_title" colspan="2">New Catalog Item</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="item_label">Name:</td>
                        <td><input class="text_item" type ="text" maxlength="80" name="title" placeholder="Catalog Item Title" required></td>
                    </tr>
                    <tr>
                        <td class="item_label">Description:</td>
                        <td><textarea name="description" rows="4" placeholder="Catalog Item Description"></textarea>
                        </td>
                     </tr>
                    <tr>
                        <td class="item_label">Category:</td>
                        <td>
                            <div class="dropdown">
                            <select name="category" size="4" required>
                            {% for category in categories %}
                                <option value = "{{category.name}}">
                                    {{category.name}}</option>
                            {% endfor %}
                            </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="all_buttons">
                                <div class="category_buttons">
                                    <input type="submit" value = 'Save'>
                                        <a href = "{{url_for('showCategories')}}">
                                            <span><input type="button" value="Cancel"></span>
                                        </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</form>
{% endblock %}
